<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Composant barre de navigation -->
<nav class="navbar">
  <a href="../../../../index.html">
    <div class="navbar-logo"></div>
    <h1 class="navbar-logo-title"><span>O</span>ne Day</h1>
  </a>
  <div class="menu-burger" (click)="showAndHideMenu()">
    <span [ngClass]="{'burger-line' : show === false, 'crossBlue' : show === true}"></span>
    <span [ngClass]="{'burger-line' : show === false}"></span>
    <span [ngClass]="{'burger-line' : show === false}"></span>
    <span [ngClass]="{'burger-line' : show === false, 'burger-line crossOrange' : show === true}"></span>
  </div>
</nav>


<!-- Composant Menu -->
<aside class="aside" [ngClass]="{'hidden' : show === false, 'visible' : show === true}">
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="user" title="Votre profil">
      <app-icon-user-gear class="icons"></app-icon-user-gear>
      <p class="username">Benjamin</p>
    </a>
  </div>
  <div *ngIf="connectedUser$?.value?.role === 'ROLE_ADMIN'" class="bar-link" routerLinkActive="active">
    <a routerLink="admin"  title="Administration">
      <app-icon-user class="icons"></app-icon-user>
      <p>Administration</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="clients" title="Clients">
      <app-icon-address-card class="icons"></app-icon-address-card>
      <p>Clients</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="orders" title="Commandes">
      <app-icon-cart-shopping class="icons"></app-icon-cart-shopping>
      <p>Commandes</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="products" title="Produits">
      <app-icon-product-menu class="icons"></app-icon-product-menu>
      <p>Produits</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="statistics" title="Statistiques">
      <app-icon-stats class="icons"></app-icon-stats>
      <p>Statistiques</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a (click)="logout()" title="Deconnexion">
      <app-icon-logout class="icons"></app-icon-logout>
      <p>Deconnexion</p>
    </a>
  </div>
</aside>


<router-outlet class="tr-content"></router-outlet>

