<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Composant Menu -->
<aside class="aside">
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="#"  class="user" title="Votre profil">
      <i class="fa-solid fa-user-gear"></i>
      <p class="username">Benjamin</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="#"  title="Administration">
      <i class="fa-solid fa-user"></i>
      <p>Administration</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="clients" title="Clients">
      <i class="fa-solid fa-address-card"></i>
      <p>Clients</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="#" title="Commandes">
      <i class="fa-solid fa-cart-shopping"></i>
      <p>Commandes</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="products" title="Produits">
      <i class="fa-brands fa-product-hunt"></i>
      <p>Produits</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="statistics" title="Statistiques">
      <i class="fa-solid fa-chart-pie"></i>
      <p>Statistiques</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="#" title="Deconnexion">
      <i class="fa-solid fa-share-from-square"></i>
      <p>Deconnexion</p>
    </a>
  </div>
</aside>
