<!--search input-->
<div class="search-bar">
  <div class="search-container">
    <div class="search-bar-links">
      <a routerLink="/clients" class="sorting-link" title="Tous les clients">Tous</a><span>|</span>
      <a routerLink="/clients" class="sorting-link" title="Tous les clients actifs">Actifs</a><span>|</span>
      <a routerLink="/clients" class="sorting-link" title="Tous les clients inactifs">Inactifs</a>
    </div>
    <div class="search-bar-by-name">
      <label for="searchbar"></label>
      <input id="searchbar" type="text" title="Rechercher" placeholder="Nom du client...">
    </div>
  </div>
  <a routerLink="../add" class="adding-link" title="ajouter un client"><i class="fa-solid fa-plus"></i>Ajouter un client</a>
</div>
<!--fin search input-->


<div class="cards-container">
  <div class="card" *ngFor="let client of clients$ | async">
    <div class="contact-header">
      <p>{{client.prenom}} {{client.nom | uppercase}}</p>
      <ng-container *ngIf="client.statut === 'Actif' then active else inactive" ></ng-container>
      <ng-template #active>
        <p class="contact-active">{{client.statut}}</p>
      </ng-template>
      <ng-template #inactive>
        <p class="contact-inactive">{{client.statut}}</p>
      </ng-template>
      <a class="fa-solid fa-trash-can" (click)="deleteClient(client.id)"></a>
      <a routerLink="../edit/{{client.id}}"title="Modifier le client"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <div class="contact-footer">
      <p><i class="fa-solid fa-briefcase"></i>{{client.societe}}</p>
      <p><i class="fa-solid fa-envelope"></i>{{client.mail}}</p>
      <p><i class="fa-solid fa-phone"></i>{{client.portable}} / {{client.fixe}}</p>
    </div>
  </div>
</div>
