<!--search input-->
<div class="search-bar">
  <div class="search-container">
    <div class="search-bar-links">
      <a routerLink="#" class="sorting-link" title="Tous les clients">Tous</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les clients actif">Actif</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les clients inactif">Inactif</a>
    </div>

    <div class="search-bar-by-name">
      <label for="searchbar"></label>
      <input id="searchbar" type="text" title="Rechercher" placeholder="Nom du client...">
    </div>
  </div>
  <a routerLink="../add" class="adding-link" title="ajouter un client"><i class="fa-solid fa-plus"></i>Ajouter un client</a>
</div>
<!--fin search input-->


<div class="cards-container">
  <div class="card" *ngFor="let client of clients$ | async">
    <div class="contact-header">
      <p>{{client.prenom}} {{client.nom | uppercase}}</p>
      <p class="contact-active">{{client.statut}}</p>
      <button class="principal-button" id="edit-button" type="button" (click)="deleteClient(client.id)"> Delete</button>
      <a routerLink="../edit/{{client.id}}"title="Modifier le client"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <div class="contact-footer">
      <p><i class="fa-solid fa-briefcase"></i>{{client.societe}}</p>
      <p><i class="fa-solid fa-envelope"></i>{{client.mail}}</p>
      <p><i class="fa-solid fa-phone"></i>{{client.portable}} / {{client.fixe}}</p>
    </div>
  </div>
</div>
