<!--search input-->
<div class="search-bar">
  <div class="search-container">
    <div class="search-bar-links">
      <a routerLink="#" class="sorting-link" title="Tous les clients">Tous</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les clients actif">Actif</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les clients inactif">Inactif</a>
    </div>

    <div class="search-bar-by-name">
      <label for="searchbar"></label>
      <input id="searchbar" type="text" title="Rechercher" placeholder="Nom du produit...">
    </div>
  </div>
  <a routerLink="../add" class="adding-link" title="ajouter un produit"><i class="fa-solid fa-plus"></i>Ajouter un produit</a>
</div>
<!--fin search input-->


<div class="cards-container">
  <div class="card" *ngFor="let produit of produits$ | async">
    <div class="contact-header">
      <p>{{produit.nom}}</p>

      <ng-container *ngIf="produit.statut === 'Actif' then actif else innactif" ></ng-container>
      <ng-template #actif>
        <p class="contact-active">{{produit.statut}}</p>
      </ng-template>
      <ng-template #innactif>
        <p class="contact-inactive">{{produit.statut}}</p>
      </ng-template>
      <div>
        <a routerLink="../edit/{{produit.id}}" title="Modifier le produit"><i class="fa-solid fa-pen-to-square"></i></a>
        <a routerLink="../delete/{{produit.id}}" title="Supprimer le produit"><i class="fa-solid fa-trash-can"></i></a>
      </div>
    </div>
    <div class="contact-footer">
      <p><i class="fa-solid fa-key"></i>ID : {{produit.id}}</p>
      <p><i class="fa-solid fa-money-check-dollar"></i>Prix : {{produit.prix}}</p>
      <p><i class="fa-solid fa-quote-left"></i>Type : {{produit.type}}</p>
    </div>
  </div>
</div>
