<!--    Test de push de Gurvan-->
<div class="connection-page">
  <!-- Composant barre de navigation -->

  <!-- Fin composant navigation -->
  <main class="home-left">
    <div class="home-left-title">

    </div>
    <div class="card home-card-background">
      <form class="login" action="home/clients/list">
        <h2>
          <div class="login-logo"></div>
        </h2>
        <label for="email">Mail :</label>
        <input id="email" type="email" required><br>
        <label for="password">Password :</label>
        <input type="password" id="password" required>
        <button class="login-button">Enter</button>
      </form>
    </div>
  </main>
  <div class="home-right">
    <div class="home-right-title">
    </div>
  </div>
</div>
