<div class="connection-page">

  <main class="home-left">
    <div class="home-left-title">

    </div>
    <div class="card home-card-background">
      <form class="login" action="clients/list">
        <h2>
          <div class="login-logo"></div>
        </h2>
        <label for="email">Mail :</label>
        <input id="email" name="mail" type="email" required [(ngModel)]="mail"><br>
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
        <button class="login-button" (click)="login()">Enter</button>
      </form>

    </div>
  </main>
  <div class="home-right">
    <div class="home-right-title">
    </div>
  </div>
</div>
