
<div class="container-table-user">

  <table id="table-user">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom et prénom</th>
      <th>Email</th>
      <th>Rôle</th>
      <th>Action</th>
      <th>Statut</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let admin of admin$ | async">
      <td>{{admin.id}}</td>
      <td>{{admin.nom}} {{admin.prenom}}</td>
      <td>{{admin.email}}</td>
      <td>{{admin.role}}</td>
      <td><a><app-icon-edit class="pen-to-square"></app-icon-edit></a> <a><app-icon-delete class="trash-can"></app-icon-delete></a></td>
      <td><p class="contact-active">{{admin.statut}}</p></td>
    </tr>
    </tbody>
  </table>

</div>

