<!--search input-->
<div class="search-bar">
  <div class="search-container">
    <div class="search-bar-links">
      <a routerLink="#" class="sorting-link" title="Tous les utilisateurs">Tous</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les utilisateurs actif">Actif</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les utilisateurs inactif">Inactif</a>
    </div>

    <div class="search-bar-by-name">
      <label for="searchbar"></label>
      <input id="searchbar" type="text" title="Rechercher" placeholder="Nom de l'utilisateur...">
    </div>
  </div>
  <a routerLink="../add" class="adding-link" title="ajouter un utilisateur"><i class="fa-solid fa-plus"></i>Ajouter un utilisateur</a>
</div>
<!--fin search input-->

<div class="container-table-user">

  <table id="table-user">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom et prénom</th>
      <th>Email</th>
      <th>Rôle</th>
      <th>Action</th>
      <th>Etat</th>
    </tr>

    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td>Gurvan Mansanarez</td>
      <td>gurvan.mansanarez@cap.fr</td>
      <td>Admin</td>
      <td><i class="fa-solid fa-pen-to-square"></i> <i class="fa-solid fa-trash-can"></i></td>
      <td><p class="contact-active">Actif</p></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Gurvan Mansanarez</td>
      <td>gurvan.mansanarez@cap.fr</td>
      <td>Admin</td>
      <td><i class="fa-solid fa-pen-to-square"></i> <i class="fa-solid fa-trash-can"></i></td>
      <td><p class="contact-active">Actif</p></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Gurvan Mansanarez</td>
      <td>gurvan.mansanarez@cap.fr</td>
      <td>Admin</td>
      <td><i class="fa-solid fa-pen-to-square"></i> <i class="fa-solid fa-trash-can"></i></td>
      <td><p class="contact-inactif">Inactif</p></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Gurvan Mansanarez</td>
      <td>gurvan.mansanarez@cap.fr</td>
      <td>Admin</td>
      <td><i class="fa-solid fa-pen-to-square"></i> <i class="fa-solid fa-trash-can"></i></td>
      <td><p class="contact-active">Actif</p></td>
    </tr>
    </tbody>
  </table>

</div>

