<div class="container-stat">

  <div class="box-stat first">
    <canvas id="myChart" width="350" height="350"></canvas>
  </div>

  <div class="box-stat second">
    <div class="container-stat-brut">
      <div class="stat-brut">
        <p>Chiffre d'affaire de l'année</p>
        <span>1232,23</span>
      </div>
      <div class="stat-brut">
        <p>Produit le plus vendu</p>
        <span>Site Web</span>
      </div>
    </div>
  </div>
  <div class="box-stat third"><p>Produits les plus vendus</p>
    <canvas id="myChart2" width="350" height="350"></canvas>
  </div>
</div>

<div class="container-stat">
  <div class="box-stat first">
    <canvas id="myChart3" width="350" height="350"></canvas>
  </div>
  <div class="box-stat second">
    <div class="container-stat-brut">
      <div class="stat-brut">
        <p>Chiffre du meilleur vendeur</p>
        <span>1232,23</span>
      </div>
      <div class="stat-brut">
        <p>Chiffre du meilleur client</p>
        <span>1232,23</span>
      </div>
    </div>
  </div>
  <div class="box-stat third">
    <canvas id="myChart4" width="350" height="350"></canvas>
  </div>
</div>

