<!-- Début Formulaire Modifier la commande -->
<section class="section-form">
  <form class="form" method="post">
    <div class="title-bloc">
      <h1 class="form-title">Ajouter une commande</h1>
      <div class="form-button">
        <button class="principal-button" id="edit-button" type="button" routerLink="/orders" (click)="createOrder()"> Ajouter</button>
        <button class="principal-button" id="cancel" type="button" routerLink="/orders">Annuler</button>
      </div>
    </div>
    <div class="bloc">
      <div class="form-bloc">

        <div class="form-line">
          <p>Client</p>
          <select (change)="selectClient($event)">
            <option *ngFor="let client of clients$ | async" [value]="client.id">
             {{client.nom}} {{client.prenom}} ~ {{client.societe}}
            </option>
          </select>
        </div>
        <div class="form-line">
          <p>Produit</p>
          <select (change)="selectProduct($event)">
            <option *ngFor="let product of products$ | async" [value]="product.id">
              {{product.nom}}
            </option>
          </select>
        </div>

        <div class="form-line">
          <label for="date-order">Date de la commande</label>
          <input id="date-order" placeholder="Saisir la date de la commande"
                 type="date" name="date-order" required
                 [(ngModel)]="newOrder.dateCommande">
        </div>


        <div class="form-line">
          <label for="duration-service">Durée de la prestation (en jours)</label>
          <input id="duration-service" placeholder="Saisir la durée de la prestation"
                 type="number" name="duration-service" required
                 [(ngModel)]="newOrder.duree">
        </div>

        <div class="form-line">
          <label for="prix">Prix de la commande</label>
          <p id="prix" placeholder="Saisir le prix de la commande~"
                 type="text" name="prix" required
             [(ngModel)]="newOrder.prix">{{product.prix*newOrder.duree | currency :'EUR'}} </p>
        </div>
      </div>
      <div class="form-bloc">
        <fieldset class="form-line">
          <legend>Statut</legend>
          <div class="form-radio">
            <div class="radio-option">
              <input type="radio" id="paye" name="statut"
                     value="Payée"
                     [(ngModel)]="newOrder.statut">
              <label for="paye">Payée</label>
            </div>
            <div class="radio-option">
              <input type="radio" id="impaye" name="statut"
                     value="Impayée" required
                     [(ngModel)]="newOrder.statut">
              <label for="impaye">Impayée</label>
            </div>
          </div>
        </fieldset>
        <div class="form-notes">
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes"
                    [(ngModel)]="newOrder.notes">
          </textarea>
        </div>
      </div>
    </div>
    <div class="form-button-small-screen">
      <button class="button-small-screen"  id="edit-button-bottom" (click)="createOrder()">Modifier</button>
      <button class="button-small-screen" id="cancel-bottom" type="button">Annuler</button>
    </div>
  </form>
  <!-- End Formulaire Modifier Client -->

</section>
