<!--search input-->
<div class="search-bar">
  <div class="search-container">
    <div class="search-bar-links">
      <a routerLink="#" class="sorting-link" title="Tous les orders">Tous</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les orders actif">Actif</a><span>|</span>
      <a routerLink="#" class="sorting-link" title="Tous les orders inactif">Inactif</a>
    </div>

    <div class="search-bar-by-name">
      <label for="searchbar"></label>
      <input id="searchbar" type="text" title="Rechercher" placeholder="Nom du order...">
    </div>
  </div>
  <a routerLink="../add" class="adding-link" title="ajouter un order"><i class="fa-solid fa-plus"></i>Ajouter un order</a>
</div>
<!--fin search input-->

<div class="cards-container">
  <div class="card" *ngFor="let order of orders$ | async">
    <div class="contact-header">
      <p>{{order.client.nom}} {{order.client.prenom}}</p>
      <p class="contact-active">{{order.statut}}</p>
      <a routerLink="../edit/{{order.id}}"title="Modifier la commande"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <div class="contact-footer">
      <p><i class="fa-solid fa-briefcase"></i>Produit : {{order.produit.nomProduit}}</p>
      <p><i class="fa-solid fa-envelope"></i>Montant : {{order.prix | currency : 'EUR'}} </p>
      <p><i class="fa-solid fa-phone"></i>commande n°{{order.id}} | {{order.statut}}</p>
    </div>
  </div>
</div>
