<!--search input-->
<ng-template #payee></ng-template>
<ng-template #impayee></ng-template>

<div class="search-bar">
  <div class="search-container">
    <div class="search-bar-links">
      <a routerLink="/orders" class="sorting-link" title="Tous les orders">Toutes</a><span>|</span>
      <a routerLink="/orders" class="sorting-link" title="Toutes les commandes payées" (click)="ordersPaid()">Payées</a><span>|</span>
      <a routerLink="/orders" class="sorting-link" title="Tous les commandes non payées" (click)="ordersUnpaid()">Impayées</a>
    </div>

    <div class="search-bar-by-name">
      <label for="searchbar"></label>
      <input id="searchbar" type="text" title="Rechercher" placeholder="Nom du client...">
    </div>
  </div>
  <a routerLink="../add" class="adding-link" title="ajouter une commande"><i class="fa-solid fa-plus"></i>Ajouter commande</a>
</div>
<!--fin search input-->

<div class="cards-container">
  <div class="card" *ngFor="let order of orders$ | async">
    <div class="contact-header">
      <p>{{order.client.nom | uppercase}} {{order.client.prenom}}</p>
      <ng-container *ngIf="order.statut === 'Payée' then payee else impayee" ></ng-container>
      <ng-template #payee>
        <p class="contact-active">{{order.statut}}</p>
      </ng-template>
      <ng-template #impayee>
        <p class="contact-inactive">{{order.statut}}</p>
      </ng-template>
      <a routerLink="../edit/{{order.id}}"title="Modifier la commande"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <div class="contact-footer">
      <p><i class="fa-solid fa-briefcase"></i>Produit : {{order.produit.nomProduit}}</p>
      <p><i class="fa-solid fa-envelope"></i>Montant : {{order.prix | currency : 'EUR'}} </p>
      <p><i class="fa-solid fa-phone"></i>commande n°{{order.id}} | {{order.statut}}</p>
    </div>
  </div>
</div>
