<!-- Début Formulaire Modifier la commande -->
<section class="section-form">
  <form class="form">
    <div class="title-bloc">
      <h1 class="form-title">Modifier la commande</h1>
      <div class="form-button">
        <button class="principal-button" id="edit-button" type="submit"  (click)="updateOrder()"> Modifier</button>
        <button class="principal-button" id="cancel" type="button" routerLink="/orders">Annuler</button>
      </div>
    </div>
    <div class="bloc">
      <div class="form-bloc">
        <div class="form-line">
          <p class="title">Client</p>
          <p>{{order?.client?.nom}} {{order?.client?.prenom}}</p>
        </div>
        <div class="form-line">
          <p class="title">Produit</p>
          <p>{{order?.produit?.nom}}</p>
        </div>

        <div class="form-line">
          <label for="client-first-name">Date de la commande</label>
          <input id="client-first-name" placeholder="Saisir la date de la commande"
                 type="date"  name="clientFirstName" [(ngModel)]="order.dateCommande"  required>
        </div>

        <div class="form-line">
          <p class="title">Société</p>
          <p>{{order?.client?.company}}</p>
        </div>

        <div class="form-line">
          <label for="duration-prestaion">Durée de la prestation (en jours)</label>
          <input id="duration-prestaion" placeholder="Saisir la durée de la prestation"
                 type="" name="portablePhone" [(ngModel)]="order.duree">
        </div>
        <div class="form-line">
          <label for="order-price">Prix de la commande</label>
          <p id="order-price" placeholder="Saisir le prix de la commande~"
             type="text" name="order-price"
             [(ngModel)]="order.prix">{{order.produit.prix*order.duree | currency :'EUR'}} </p>
        </div>
      </div>
      <div class="form-bloc">
        <fieldset class="form-line">
          <legend>Statut</legend>
          <div class="form-radio">
            <div class="radio-option">
              <input type="radio" id="paye" name="statut"
                     value="{{payee}}" [(ngModel)]="order.statut" [checked]="order.statut === payee" >
              <label for="paye">{{payee}}</label>
            </div>
            <div class="radio-option">
              <input type="radio" id="impaye" name="statut"
                     value="{{impayee}}" [(ngModel)]="order.statut" [checked]="order.statut === impayee">
              <label for="impaye">{{impayee}}</label>
            </div>
          </div>
        </fieldset>
        <div class="form-notes">
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes"[(ngModel)]="order.notes"></textarea>
        </div>
      </div>
    </div>
    <div class="form-button-small-screen">
      <button class="button-small-screen"  id="edit-button-bottom" (click)="updateOrder()">Modifier</button>
      <button class="button-small-screen" id="cancel-bottom" type="button">Annuler</button>
    </div>
  </form>
  <!-- End Formulaire Modifier Client -->

</section>
